<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>

    <!-- ########################################## -->
    <!-- Settings -->
    <!-- ########################################## -->
    
    <add key="receiver" value=""/>
    <add key="CC" value=""/>
    <add key="thoroughSearch" value="false"/> <!-- Recommended at false -->
    <add key="webPage" value="https://www.reddit.com/r/gamedeals"/>

  </appSettings>
</configuration>